<!-- jumbotron -->
        <div class="container" id="container1" >
            <div class="intro-text">
                <div class="intro-lead-in">Join Us Today</div>
                <div class="intro-heading">Learn from a <span style="color:orange">PRO</span>, Play like a <span style="color:orange">PRO</span></div>

                <div class="btn-group">
                    <a href="/sideapp/listOfCoaches" class="btn-lg btn-warning">Find Coach Now</a>
                    <a href="/sideapp/applyForCoach" class="btn-lg btn-warning">Apply For Coach</a>
                </div>
            </div>
        </div>
<!-- End jumbotron -->
