<div class="well">
                <div class="container text-center">
                    <h4>Subscribe for more</h4>
                    <form action="" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="subscribe" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subscribe" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>

                    </form>
                </div>
            </div>