<!-- User Review -->
<div class="jumbotron">
    <section class="student-quotes">
        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#screenshot-carousel" data-slide-to="1"></li>
                <li data-target="#screenshot-carousel" data-slide-to="2"></li>
                <li data-target="#screenshot-carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div>
                        <blockquote>
                            <p class="text-center">Greatly improved my skills. Coach recognized my mistakes quickly and corrected me.</p>
                            <footer class="text-center">Noobie123</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <blockquote>
                            <p class="text-center">Amazing! I thought I was going to waste my money on this, but it WORKED! I was able to raise my rank after the tutorial.</p>
                            <footer class="text-center"></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <blockquote>
                            <p class="text-center"></p>
                            <footer class="text-center"></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <blockquote>
                            <p class="text-center"></p>
                            <footer class="text-center"></footer>
                        </blockquote>
                    </div>
                </div>
                
                
            </div><!-- End Carousel inner -->
            <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div><!-- End Carousel -->
        
    </section>
</div> <!-- End User Review -->